/* Application-wide Styles */

h1 {
    color: #369;
    font-size: 250%;
}

.table-container {
    // width: 100%;
    padding: 0 48px;
}

table {
    width: 100%;
}

.buttons {
    margin-top: 64px;
}